{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/account/settings.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Account Settings{% endblock %}

{% block content %}
{{ super() }}


<div class="container-fluid py-2 text-left">
    <div class="row justify-content-start">
        <div class="col-2">
            <div class="container-fluid text-left">
                <ul class="nav nav-tabs flex-column">
                  {% if request.path == url_for('account.account_info') %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('account.account_info') }}">Account Details</a>
                    </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account.account_info') }}">Account Details</a>
                  </li>
                  {% endif %}
                  {% if request.path == url_for('account.change_password') %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('account.change_password') }}">Change Password</a>
                    </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account.change_password') }}">Change Password</a>
                  </li>
                  {% endif %}
                  {% if request.path == url_for('account.change_email') %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('account.change_email') }}">Change Email</a>
                    </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account.change_email') }}">Change Email</a>
                  </li>
                  {% endif %}
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled">Disabled</a>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="col-3">
            {% block subcontent %}
            {% endblock %}
        </div>
    </div>
</div>

  {% endblock %}